
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>{{detail?.name}} Details</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Category Name</strong></div>
              <div fxFlex>{{detail?.name}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Category Code</strong></div>
              <div fxFlex>{{detail?.categoryCode}}</div>
            </div>
      
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Is Active?</strong></div>
              <div fxFlex>{{detail?.isActive}}</div>
            </div>

          </div>
        </mat-card-content>      
<button mat-raised-button color="primary" (click)="goToEdit()">EDIT </button>
      </mat-card>
</section>