
<div class="login-container">
    <div class="edit-content">
        <mat-toolbar class="edit-toolbar" color="primary">CATEGORY UPDATE</mat-toolbar>
        <mat-card>
            <form [formGroup]="editCategoryForm" 
                 (ngSubmit)="onSubmit(editCategoryForm)" >
                <mat-form-field class="mat-form-field">
                    <mat-label>Category Name</mat-label>
                    <input required autofocus type="text" matInput placeholder="Cateory Name" formControlName="name">
                    <mat-error *ngIf="editCategoryForm.get('name')?.hasError('required')">Password is required</mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-field">
                    <mat-label>Category Code</mat-label>
                    <input required type="text" autocomplete="false" matInput placeholder="categoryCode"  formControlName="categoryCode">
                    <mat-error *ngIf="editCategoryForm.get('categoryCode')?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="editCategoryForm.get('categoryCode')?.hasError('invalidCodeFormat')"> Code must start with 3 characters followed by 3 numbers. e.g ABC123</mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-field">
                    <mat-label>Is Active?</mat-label>
                    <mat-select formControlName="isActive" (selectionChange)="selectionChange($event.value)">
                      <mat-option *ngFor="let opt of isValidOptions" [value]="opt.value">
                        {{opt.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                <button class="mat-raised-button" type="submit" mat-raised-button color="primary">Update</button>
    </form>
    
        </mat-card>
    </div>
</div>
